<!DOCTYPE html>
<html>
<head>
    <title>No Temas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3498db">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="/manifest.json">


</head>
<body>

<div class="container">
    <h1>Buscador Bíblico - Reina Valera</h1>

    <form action="/buscar">
        <input type="text" name="palabra" placeholder="Introduce una palabra" required>
        <button type="submit">Buscar</button>
    </form>
</div>

<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js')
          .then(reg => console.log('Service Worker registrado:', reg.scope))
          .catch(err => console.error('Error registrando SW:', err));
      });
    }
</script>

</body>
</html>
